/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

h1{
	font-size: 28px;
}

header{
	color: white;
	/* height: 80px; */
    /* display: flex; */
	background-color: #efa358;
    padding: 10px 0;
}

.h1--logo{
	/* padding-top: 26px; */
    overflow: hidden;
}

footer{
	height: 100px;
	background-color: #efa358;
	color: white;
}

.container{
	/* width: 1000px; */
	margin: 0 auto;
    width: 80%;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer{
    text-align: center;
}

.logo {
	/* vertical-align: center; */
	/* display: inline-block; */
    width: 300px;
}

nav > ul{
    display: flex;
    /* justify-content: flex-end; */
    padding: 20px 0 20px 10px;
    /* margin: 0; */
    /* margin-left: auto; */
}

a{
	color: white;
	text-decoration: none;
	margin-right: 20px;
}

.h1--bottom{
	padding-top: 30px;
}

.p--bottom{
	font-size: 12px;
	margin-top: 20px;
	/* text-align: center; */
}

/******** Main Contents ********/
.top_mv img {
    width: 100%;
    object-fit: cover;
}

.main_title {
    font-size: 2rem;
    text-align: center;
    margin: 40px 0;
    text-transform: capitalize;
}

.main_content {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 5rem;
}

.text_block {
    width: 45%;
    margin-left: 5%;
}

.text_title {
    font-size: 2rem;
    font-weight: bold;
}

.discription {
    line-height: 1.7;
    margin: 30px 0;
    padding-right: 45px;
}

.link_btn a {
    display: inline-block;
    color: white;
    background: #EFA358;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 10px;
    padding: 1rem 3rem;
    margin: 0;
}

.main_img {
    width: 50%;
}

.main_img img {
    display: block;
    margin-left: auto;
}